# PayPal Configuration
# Add your Sandbox Client ID here for testing, and Live Client ID for production
VITE_PAYPAL_CLIENT_ID=
# Set to 'sandbox' for testing, or 'live' for production
VITE_PAYPAL_ENVIRONMENT=sandbox

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
